PORT=5000
MONGO_URI=mongodb://localhost:27017/smart-study
GROQ_API_KEY=your_groq_api_key_here
GROQ_TUTOR_MODEL=openai/gpt-oss-120b
GROQ_NOTES_MODEL=qwen/qwen3-32b
GROQ_QUIZ_MODEL=lllama-3.3-70b-versatile
GROQ_PLANNER_MODEL=llama-3.1-8b-instant
